<div class="dashboard_packets">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <!-- <th>Package dimentions</th>
        <th>Package weight</th>
        <th>Safeguard time</th>
        <th>Outbound packet time</th>
        <th>Entry packet time</th>
        <th>Batch number</th>
        <th>Client</th> -->
        <th>ID Cliente</th>
        <!-- <th>Paquete Registrado</th> -->
        <!-- <th>Dimensiones del paquete</th> -->
        <th>Fecha de salida del paquete</th>
        <th>Lote de almacenamiento</th>
        <th>Resguardo Ilimitado?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @packages.each do |package| %>
        <tr>
          <td><%= package.client.id %></td>
          <!-- <td> package.created_at </td> -->
          <!-- <td> package.package_dimentions</td> -->
          <!-- <td> package.package_weight</td>
          <td> package.safeguard_time</td> -->
          <td><%= package.outbound_packet %></td>
          <!-- <td>package.entry_packet_time</td> -->
          <td><%= package.batch_number %></td>
          <td><%= package.safeguard_time ? "Ilimitado" : "Expira"  %></td>
          <!-- <td> package.client </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
