<!DOCTYPE html>
<html>
<head>
  <title>Dossier</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <div id="notice_wrapper">
    <p id="notice"><%= notice %></p>
  </div>
<% elsif alert  %>
  <div id="notice_wrapper">
    <p id="alert"><%= alert %></p>
  </div>
<% end %>

<nav class="navbar navbar-default">
  <%= link_to 'Dossier', root_path, :class => "navbar-brand brand" %>
  <div class="nav navbar-right margin_center navbar_links">
    <% if user_signed_in? %>
      <strong><%= current_user.email%></strong> |
      <strong><%= link_to "Salir", destroy_user_session_path, :method => :delete %></strong>
    <% else %>
      <%= link_to "Ingresar", new_user_session_path, :class => "btn btn-link" %>
    <% end %>
  </div>
</nav>

<%= yield %>

</body>
<footer class="bottom_footer">
  <hr />
  <h6 class="text-center">
    &copy; Derechos Reservados 2016 | <%= fa_icon "code" %> con <%= fa_icon "heart", :class => "heart" %>
    por <strong>Carlos Gómez</strong>
  </h6>
</footer>
</html>
